.square1 {
    height: 500px;
    width: 500px;
    background-color:white;
    outline-style: solid;
    outline-color: black;
    position:relative
  }
  .square2 {
    height: 350px;
    width: 350px;
    background-color:white;
    outline-style: solid;
    outline-color:red;
    position: absolute;
    left: 75px;
    top: 10px;
  }
  .text { 
    position: absolute;
    left: 0px;
    bottom: 0px;
    
}
h1 { 
    font-size: 45px;
    margin:0
}
  .square3 {
    height: 50px;
    width: 50px;
    background-color:grey;
    position: absolute;
    left: 270px;
    top: 340px;
  }
 .number {
     font-size: 25px;
     position:absolute;
     left:50%;
     top:50%;
     transform: translate(-50%, -50%);
     margin: 0%;
}
.square4 {
    height: 30px;
    width: 30px;
    background-color:green;
    position: absolute;
    left: 60px;
    top: 10px;
  }
  .square5 {
    height: 30px;
    width: 30px;
    background-color:blue;
    position: absolute;
    left: 410px;
    top: 155px;
  }